@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

.animate-float {
  animation: float 5s infinite alternate ease-in-out;
}

.iframe-container {
  border-radius: 20px; 
}